target
builds/*
!builds/.gitkeep
.vim
.gdb_history
*.out
*.swp
*__pycache__*

# OVMF UEFI firmware
OVMF-pure-efi.fd

# Disk images
*.qcow2

# Byproducts
*compile_commands.json
*.cache/

# vs code folder 
.vscode/*
