[submodule "linux-kvm-tyche"]
	path = linux
	url = https://github.com/mit-enclaves/linux-kvm-tyche.git
[submodule "busybox"]
	path = busybox
	url = https://git.busybox.net/busybox.git
[submodule "opensbi-stage1"]
	path = opensbi-stage1
	url = https://github.com/epfl-dcsl/tyche-stage1-opensbi.git
