[submodule "opensbi-stage1"]
	path = opensbi-stage1
	url = git@github.com:neeluk7/opensbi-stage1.git
[submodule "linux"]
	path = linux
	url = git@github.com:torvalds/linux.git
[submodule "busybox"]
	path = busybox
	url = git://busybox.net/busybox.git
[submodule "crates/forked_signature"]
	path = crates/forked_signature
	url = https://github.com/papa/rust-ed25519-compact.git
